<h3>Users</h3>
<%= hidden_field_tag( "page_name", "admin", :id => "page_name") %>

<%= link_to "Add User", new_user_path, :class=>"btn btn-mini btn-success" %>
<br/>
<div class="span8">
<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align: center;">User</th>
      <th colspan="3" style="text-align: center;">Operations</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td class="span4">
        <strong><%= link_to user.name, user %></strong> <br/>
        <%= user.email  %>
      </td>
      <td>
        <% unless user.roles.first.nil? %>
            <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini btn-info btn_test span1" type="button">
              <%= user.roles.first.name.titleize %>
            </a>
            <%= render user %>
        <% end %>
      </td>

      <td>
        <%= link_to "<i class='icon-save icon-large'></i>".html_safe, edit_user_path(user), :class=>"span1" %>
      </td>

      <td>
        <%= link_to("<i class='icon-trash icon-large'></i>".html_safe, user_path(user), :data => { :confirm => "Are you sure?" },
                      :method => :delete, :class => 'span1') unless user == current_user %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
