<div class="row-fluid center_text">
  <div class="span2">
    <br/><br/>
    <%= image_tag "fishbowl.png" %>
  </div>
  <div class="span10">
    <h3>NUTRITIONAL MICROSCOPY</h3>
    <h4>Educational demonstrations for research, <br/>
      observation, & monitoring</h4>

    <strong>For more information or to schedule an appointment contact:</strong><br/>
    <br/>
    Cathy Maxwell (801) 651-3452  <%= link_to "HealthyHabitsUtah@gmail.com", "mailto:healthyhabitsutah@gmail.com" %><br/>
  </div>
</div>
<hr/>

<div >
<ul>
  <li class="microscopy_bullet_list">
    Utilizes a high powered microscope to view a drop of capillary blood from a subject’s fingertip, obtained with a sterile lancet.
    <br/>
    <div class="span4 pull-right">
      <%= image_tag "microscope.png" %>
    </div>

    <br/>
  </li>
  <li class="microscopy_bullet_list">
    Examines blood cells and plasma to gather research data: How does the blood picture relate to the level of health challenges experienced by the subject; What are the subjects nutritional needs and/or deficiencies?
    <br/><br/>
  </li>
  <li class="microscopy_bullet_list">
    Addresses areas of imbalance suggested by the case history and the blood picture, N. Microscopy is an evaluation of the internal environment referred to as the biological terrain but is not considered diagnostic without corroborating lab tests, imaging studies, or physical examination.
    <br/>
  </li>
</ul>
</div>

<p class="microscopy_bullet_list">
  Where standard laboratory blood tests are generally quantitative (how many cells are there?), N. Microscopy is qualitative (what is the condition of the cells?).  Standard laboratory tests are often used as pre/post studies to N. Microscopy because there is correlative value in knowing both the quantity and the quality of the client’s cells.

</p>

<p class="microscopy_bullet_list">
  The Microscopist and client can see the characteristics of the client’s blood live on a video screen.  This process gives current and past information, as it pertains to the biological terrain of the client (stress appears in the blood sometimes years before it manifests as symptoms).  This information can assist the Microscopist and client by:
</p>

<div class="row-fluid">
    <div class="span6">
        <ul>
          <li class="microscopy_bullet_list">
            Giving early warning of possible upcoming challenges
          </li>
          <li class="microscopy_bullet_list">
            Showing patterns of disorganization
          </li>
          <li class="microscopy_bullet_list">
            Alerting to the advisability of medical referral
          </li>
        </ul>
    </div>
    <div class="span6">
        <ul>
          <li class="microscopy_bullet_list">
            Monitoring a challenge before and after regimes
          </li>
          <li class="microscopy_bullet_list">
            Determining the effectiveness of various regimes
          </li>
        </ul>
    </div>
</div>

<strong><u>
  <span class="microscopy_bullet_list">OBSERVATION AND MONITORING OF METABOLIC FUNCTION or DYSFUNCTION:</span>
</u></strong><br/>
<p class="microscopy_bullet_list">
  The Phase Contrast (Unchanged Live Blood) and Bright Field (Dry Blood/Oxidative Stress) Demonstrations are used to observe and monitor metabolic function or dysfunction, thereby taking the guesswork out of diet determination and the selection of appropriate supplementation.
</p>

<p class="microscopy_bullet_list">
  Cathy has been trained and certified by the Robert O. Young Research Center to observe the blood for imbalances in body chemistry.  In the New Biology these “imbalances” are seen as “conditions” brought on by acidity from poor diet, nutrition, or lifestyle choices.
</p>

<p class="microscopy_bullet_list">
<strong><u>
Among the phenomenon observed are:
</u></strong>
<div class="row-fluid">
    <div class="span6">
      <ul>
        <li class="microscopy_bullet_list">
          Relative level of acidity in the body fluids and the effects these acids have on the body
        </li>
        <li class="microscopy_bullet_list">
          Relative activity of the immune system
        </li>
        <li class="microscopy_bullet_list">
          Condition of the red blood cells and changes in form and function
        </li>
        <li class="microscopy_bullet_list">
          General organ “stress”
        </li>
        <li class="microscopy_bullet_list">
          Presence of parasites, bacteria, yeast, fungus, and mold
        </li>
      </ul>
    </div>
    <div class="span6">
      <ul>
        <li class="microscopy_bullet_list">
          Blood sugar imbalances
        </li>
        <li class="microscopy_bullet_list">
          Malabsorption of fats, proteins, and other nutrients
        </li>
        <li class="microscopy_bullet_list">
          Crystalline forms of morbid matter, acids, cholesterol, and mycotoxins
        </li>
        <li class="microscopy_bullet_list">
          Degenerative stress and gastrointestinal tract dysfunction
        </li>
      </ul>
    </div>
</div>
</p>
<div class="center_text microscopy_bullet_list">
  <strong>Various Blood Samples.</strong>
</div>
<div class="row-fluid">
  <div class="span4">
    <%= image_tag "blood_healthy.png", :class=>'bloodpic' %>
    <br/>
    <span class="center_text"><strong>Healthy Blood</strong></span>
  </div>
  <div class="span4">
    <%= image_tag "blood_rouleax.png", :class=>'bloodpic' %>
    <br/>
    <span class="center_text"><strong>Rouleax Blood</strong></span>
  </div>
  <div class="span4">
    <%= image_tag "blood_spicule.png", :class=>'bloodpic' %>
    <br/>
    <span class="center_text"><strong>Spicule Blood</strong></span>
  </div>
</div>
<br/><br/><br/>


