<%= simple_form_for(@testimonial) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :comment %>
    <%= f.input :date %>
  </div>

    <%= f.file_field :thumbnail, :class=>"file_upload_btn" %>

    <% unless @testimonial.thumbnail.blank? %>
        <%= image_tag @testimonial.thumbnail.url(:thumb), :id=>"testimonial_image" %>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
