<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse collapse">
        <ul class="nav">

          <div class="footer_text span4">Copyright 2013 Healthy Habits LLC<br/>
            <%= link_to "Webmaster: aamax Software", "mailto:aamax@xmission.com", :class => "footer_text" %>
          </div>
          <div class="span2">
            <%= link_to "Privacy Policy", "/pages/privacy", :class => "footer_text", :id => "privacy_menu" %>
          </div>
          <div class="span1"><%= link_to "Disclaimer", "/pages/disclaimer", :class => "footer_text", :id => "disclaimer_menu" %>    </div>
          <div class="span3"><%= link_to "Refund & Return Policy", "/pages/refund", :class => "footer_text", :id => "return_menu" %>    </div>
          <div class="span2"><%= link_to "Agreement Form", "/docs/terms_of_agreement.docx", :class => "footer_text", :id => "terms_doc" %>  </div>
          <div class="span1"><%= link_to "Contact", "/pages/contact", :id => "contact_menu", :class => "footer_text" %></div>

        </ul>
      </div>
    </div>
  </div>
</div>