<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">

          <li id="home"><%= link_to "Home", root_path, :id => "home_menu" %></li>


          <li id="is_this_you"><%= link_to "Is This You?", "/pages/is_this_you", :id => "is_this_you_menu" %></li>
          <% if true == false %>
              <li id="work_with_me"><%= link_to "Work With Me", "#" %></li>
          <% end %>
          <li id="different"><%= link_to "What Makes Me Different?", "/pages/different", :id => "different_menu" %></li>
          <li id="products_page"><%= link_to "Products", "/products_page", :id => "products_menu" %></li>
          <li id="meet_cathy"><%= link_to "Meet Cathy", "/pages/meet_cathy", :id => "meet_cathy_menu" %></li>
          <li><%= link_to "Blog", "http://blog.healthyhabitsutah.com", :id => "blog_menu" %></li>

        </ul>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
              <li class="user_nav_name"><%= current_user.name %></li>
              <% #if current_user.has_role? :admin
                 if true %>
                  <li class="dropdown">
                    <%= link_to "Admin", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => :admin_menu %>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Users", users_path %></li>
                      <li><%= link_to "Pages", pages_path %></li>
                      <li><%= link_to "Testimonials", testimonials_path %></li>
                      <li><%= link_to "Contacts", contacts_path %></li>
                      <li><%= link_to "Products", products_path %></li>
                      <li><%= link_to "Blog Admin", "http://blog.healthyhabitsutah.com/wp-admin/" %></li>
                      <li>
                        <hr/>
                      </li>
                      <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
                    </ul>
                  </li>
              <% end %>
          <% else %>
              <% if current_user.nil? %>
                  <% unless params[:controller]=="devise/sessions" %>
                      <li class="dropdown">
                        <%= link_to "Sign In", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => :login_menu %>
                        <ul class="dropdown-menu">
                          <%= form_tag new_user_session_path, :class => 'form-inline navbar-form pull-right' do %>
                              <li>
                                <div class="center_input"><input type="text" placeholder="Email" name='user[email]'></div>

                              </li>
                              <li>
                                <div class="center_input">
                                  <input type="password" placeholder="Password" name='user[password]'></div>
                              </li>

                              <li>
                                <div class="center_input">
                                  <button type="submit" class="btn btn-mini btn-primary">Sign in</button>
                                </div>
                              </li>
                              </ul>
                              </li>
                          <% end %>
                  <% end %>
              <% end %>

          <% end %>

        </ul>
      </div>
    </div> <!-- container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->