<ul class="nav top_menu">
  <li><%= link_to "Home", root_path, :class => 'brand' %></li>
  <li><%= link_to "Is This You?", "/pages/is_this_you" %></li>
  <li><%= link_to "Work With Me", "#" %></li>
  <li><%= link_to "What Makes Me Different?", "/pages/different" %></li>
  <li><%= link_to "Products/Services", "#" %></li>
  <li><%= link_to "Meet Cathy", "/pages/meet_cathy" %></li>
  <li><%= link_to "Blog", "#" %></li>
  <li><%= link_to "Contact", "/pages/contact" %></li>
</ul>

<ul class="nav pull-right">
  <% if user_signed_in? %>
      <li class="user_nav_name"><%= current_user.name %></li>
      <% #if current_user.has_role? :admin
      if true%>
          <li class="dropdown">
            <%= link_to "Admin", "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :id => :admin_menu %>
            <ul class="dropdown-menu">
              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Pages", pages_path %></li>
            </ul>
          </li>
      <% end %>
  <% else %>
      <li>
        <%= link_to 'Login', new_user_session_path %>
      </li>
  <% end %>
</ul>


