<%= image_tag "maui_beach.jpg", :class=>"top_banner_backgrnd" %>
<%= image_tag "banner_logo.gif", :class => "my_banner_logo" %>

<%= image_tag "cathy_banner.gif", :class => "my_banner_image" %>

<div class='signup_box'>
  <div class='signup_boxcontent'>
    <div class="signup_header">
        Sign up for my eZine and Special Report:<br/>
      <strong>"5 Secrets to a Healthier,<br/>
        Sexier Spring Body"</strong> <br/>
    </div>
    <br/>
    <%= form_tag :controller => "contacts", :action => "create", :method => "POST" do %>
        <div class="contact_inputs">
          <%= text_field(:contact, :name, :placeholder => "Enter Name", :class => "contact_field") %>
          <%= text_field(:contact, :email, :placeholder => "Enter Email", :class => "contact_field") %>
          <%= submit_tag :submit, :class => "btn btn-small btn-primary contact_btn" %>

        </div>
    <% end %>
  </div>
</div>
