<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Healthy Habits" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Healthy Habits" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> body_general">
        <%= render 'layouts/navigation' %>

        <%= render "layouts/top_banner" %>

    <div id="main" role="main">


          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
            </div>
          </div>

          <div class="row main_page_body">
             <div class="span9 main_section">

               <%= yield %>

            </div>

            <div class="span3 side_section">
                <%= render 'layouts/side_section' %>
            </div>
          </div>


    </div> <!--! end of #main -->
    <br/> <br/> <br/> <br/> <br/>
    <%= render 'layouts/footer' %>
  </body>
</html>
